<%- include('partials/header'); -%>

<div id="post">

        <h1 id="posttitle">
          <%=posttitle%>
        </h1>

        <h5>
          <p id="postdate">
            <%=postdate%>
          </p>
                
          <img id="postimage" src="<%=postimage%>">

          <div id="read">
                <br>

                <h3>
                  To listen this article press Play button below...
                </h3>

                <br>

                <!-- Next anprevious buttons starting -->
                <% if(postnumber!=0){ %>

                  <% var p=postnumber-1; %>
                             
                  <a href="<%= posts[p].posttitle %>">
                    <button id="prevbutton" class="btn btn-primary">
                        <span>&#8592;</span>
                        <br>
                        Old<br>Posts
                    </button>
                  </a>

                  <% } %>

                  <% if(postnumber!=posts.length-1){ %>

                    <% var p=postnumber+1; %>

                    <a href="<%= posts[p].posttitle %>">
                      <button id="nextbutton" class="btn btn-primary">
                          <span>&#8594;</span>
                          <br>
                          New<br>Posts
                      </button>
                    </a>

                  <% } %>
                <!-- Next anprevious buttons end -->


                  <label for="speed">

                    <b>Speed</b>

                  </label>
                  
                  <input type="number" name="speed" id="speed" min="0.4" max="3" step="0.2" value="0.8">

                    <a id="play-button">

                      <img src="https://img.icons8.com/fluent/50/000000/circled-play.png" />

                    </a>

                    <a id="pause-button">

                      <img src="https://img.icons8.com/fluent/48/000000/circled-pause.png" />

                    </a>

                    <button class="btn btn-danger" id="stop-button">
                      Stop
                    </button>

                    <p id="status"></p>

                </div>

                <br>

                <p id="postcontent">
                  <%=postcontent%>
                </p>

        </h5>

        <p>

          <a id="postreference" href=<%=postreference%>>
            Reference for this article
          </a>
          
        </p>
</div>

<script src="/js/script.js"></script>

<%- include('partials/footer'); -%>